* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

button:focus {
	outline: none;
}

body {
	font-family: 'lane_-_narrowregular', sans-serif;
}

img {
	transition: all 0.3s ease-in-out;
	max-width: 100%;
}

img:hover {
	opacity: 50%;
}

p {
	line-height: 1.7rem;
	color: rgba(0,0,0, 0.6);
}

.border-right {
	border-right: 2px solid #ffdb4d;
}

.border-left {
	border-left: 2px solid #ffdb4d;
}

/*----------Header----------*/
#header {	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5.5rem;
	background-color: #fff;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	z-index: 1;
}

.flex-cont {
	display: flex;
	justify-content: space-between;
}

a.logo {
	background-color: #ff471a;
	transition: all 0.4s ease-in-out;
	color: #fff;
	font-size: 1.7rem;
	display: block;
	padding: 0 1rem;
	line-height: 5.5rem;
}

a.logo:hover {
	background-color: #fff;
	color: #000;
}

.nav-header {
	background-color: #fff;
	display: none;
}

.nav-header.show {
	display: block;
}

.nav-header ul {
	padding: 1rem 1.5rem;
}

.nav-header li a {
	padding: 1rem 0.5rem;
	color: #000;
	text-transform: uppercase;
	font-size: 0.9rem;
	display: block;
}

.btn-div {
	line-height: 5.5rem;
	margin-right: 1rem;
}

.btn-hambug {
	font-size: 1.5rem;
	background: #fff;
	border-color: transparent;
	cursor: pointer;
	color: #ff5c33;
}

/*---------banner---------*/
.banner {
	background: url('../images/home-bg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	padding: 14rem 0 6rem 0;
}

.banner-txt {
	padding: 0 1rem;
	line-height: 2rem;
}

.banner-txt h1, .banner-txt h2{
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 200;
}

.banner-txt h1 {
	color: #ff9933;
}

.banner-txt p {
	font-size: 0.9rem;
	margin: 1rem 0 3rem 0;
}

.banner-txt a {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1.5rem 2.5rem;
	border: 2px solid #000;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.4s ease-in-out;
}

.banner-txt a:hover {
	background-color: #ff471a;
	color: #fff;
	border: 2px solid #ff471a;
}

/*---------Main---------*/
.title-center {
	text-align: center;
	margin-bottom: 1.5rem;
}

#main, .footer {
	margin: 0 3vw;
}

#main h2 {
	display: inline-block;
	margin: 4rem 0 2rem 0;
	padding: 1rem;
	font-weight: 200;
	font-size: 2rem;
}

#main section {
	border-bottom: 1px solid #ffeb99;
	padding-bottom: 4rem;
}

/*---------Workflow Section---------*/
.workflow-itens {
	margin-top: 3rem;
}

.workflow-itens i {
	color: #ff471a;
	padding: 2.5rem;
	font-size: 2.5rem;
	border-radius: 50%;
	border-top: 3px solid #ff9933;
	border-bottom: 3px solid #ff471a;
}

.workflow-itens h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	font-weight: 200;
}

/*---------Story Section---------*/ 
.story img {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #666;
}

.story h3, .people h3 {
	font-size: 1.8rem;
	font-weight: 200;
	line-height: 2.5rem;
}

.story h4, .people h4 {
	font-size: 1.2rem;
	font-weight: 100;
	color: rgba(0,0,0,0.3);	
}

.story p {
	margin: 0.8rem 0;
}

/*---------People Section---------*/ 
.people img {
	padding: 0.8rem;
	border: 1px solid #666;
}

.people-itens {
	margin-bottom: 2rem;
} 

/*---------Portfolio Section---------*/ 
#main .portfolio h2 {
	margin-bottom: 1rem;
}

.nav-portfolio {
	text-align: center;
	margin: 0 2vw 3.75rem 2vw;
}

.portfolio .portfolio-img .hide {
	width: 0;
	height: 0;
	opacity: 0;
	margin: 0;
	visibility: hidden;
}

.portfolio-img .all {
	position: relative;
	transition: width 1s ease-in-out;
	overflow: hidden;	
}

.links {
	padding: 0.7rem;
	font-size: 1.1rem;
	color: rgba(0,0,0, 0.5);
	transition: all 0.3s ease-in-out;
	border: transparent;
	cursor: pointer;
	background-color: #fff;
}

.links:hover {
	background-color: #ff9933;
	color: #fff;
}

.selected {
	background-color: #ff9933;
	color: #fff;
}

.portfolio-img {
	margin: 0 4vw;
}

.portfolio-img img {
	width: 100%;
	margin: 0.5rem 0;
}

/*---------Price Section---------*/ 
.plan {
	text-align: center;
	width: 80%;
	border: 2px solid #000;
	margin-bottom: 3rem;
	padding: 3rem 1rem;
	color: rgba(0,0,0, 0.6);
}

.plan h3 {
	font-size: 1.5rem;
	font-weight: 200;
	padding: 0.8rem 0;
}

.plan ul {
	margin-top: 1.5rem;
	border-top: 2px solid #000;
	padding: 1.5rem 0;
}

.plan li {
	padding: 1rem 0;
	text-transform: uppercase;
}

.plan a {
	color: rgba(0,0,0, 0.6);
	padding: 1rem 2.5rem;
	border: 2px solid #000;
	transition: all 0.3s ease-in-out;
}

.plan a:hover {
	color: #000;
	background-color: #ff9933;
	border: 2px solid #ff9933;
}

/*---------Form Section---------*/ 
.formulario {
	margin: 0 3vw;
}

.formulario input, .formulario textarea {
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.7rem;
	border: 2px solid #000;
	font-family: 'lane_-_narrowregular', sans-serif;
}

.formulario p {
	text-align: center;
	margin: 0.5rem 0;
}

.formulario input[type="submit"] {
	text-transform: uppercase;
	background-color: rgba(0,0,0, 0.7);
	border: none;
	color: #fff;
	padding: 1rem 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.formulario input[type="submit"]:hover {
	background-color: #ff9933;
}

/*---------Footer---------*/
.adr-footer {
	margin: 2rem 0;
}

.adr-footer h2 {
	font-weight: 200;
	font-size: 1.8rem;
	border-bottom: 2px solid #000;
	padding: 1.5rem 0;
	margin-bottom: 1.5rem;
}

.contact p, .contact {
	line-height: 2rem;
}

.contact strong {
	margin-left: 0.5rem;
}

.social {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.social a {
	color: rgba(0,0,0,0.7);
	transition: all 0.4s ease-in-out;
}

.social a:hover {
	color: #ff9933;
}

.footer-copy {
	text-align: center;
	font-size: 0.9rem;
	padding: 1.5rem;
	border-top: 1px solid #ffeb99;
}

#top-btn {
	position: fixed;
	font-size: 1.5rem;
	right: 2em;
	bottom: 2em;
	background-color: #f2af00;
	color: #fff;
	text-align: center;
	width: 60px;
	height: 60px;
	line-height: 60px;
	transition: all 0.3s ease-in-out;
	display: none;
}

#top-btn:hover {
	background-color: rgba(0,0,0,0.8);
}

/*------------------Media Query------------------*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	#header, .workflow-flex, .story-flex, .form-flex, .footer-flex {
		display: flex;
		justify-content: space-between;
	}

	.btn-div {
		display: none;
	}

	.nav-header {
		display: block;
		line-height: 5.5rem;
	}

	.nav-header ul {
		display: flex;
		padding: 0;
	}

	.nav-header li a {		
		padding: 0 0.6rem;
		margin: 0 0.2rem;
		color: #000;
		border-right: 1px solid #f2f2f2;
	}

	.nav-header a.border-none {
		border: none;
	}

	.banner-txt {
		width: 50%;
		margin-left: 50%;
	}

	.workflow-itens {
		width: 30%;
	}

	.story-img, .story-txt, .formulario input.input-half, .plan, .adr-footer {
		width: 48%;
	}

	.people-flex, .price-flex {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.people-itens {
		width: 48%;
		margin: 1.5rem 0;
	}

	.portfolio-img {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.portfolio .all {
		width: 48%;
		margin: 0 0.5rem;
	}

	.formulario {
		margin: 0 7vw;
	}

	.formulario p {
		width: 70%;
	}

	.formulario input[type="submit"] {
		width: 25%;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.people-itens {
		width: 23%;
	}

	.portfolio .all {
		width: 31%;
	}

	.portfolio .img-half {
		width: 48%;
	}

	.plan {
		width: 31%;
	}

	.formulario {
		margin: 0 10vw;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }