.f-size-2 {
  font-size: 1.6rem;
}

.border {
  border: 2px solid;
}

.border-top {
  border-top: 2px solid;
}

.border-left {
  border-left: 2px solid;
}

.border-right {
  border-right: 2px solid;
}

.border-bottom {
  border-bottom: 1px solid;
}

.border--black {
  border-color: #000;
}

.border--primary {
  border-color: rgb(255, 219, 77);
}

.border--icon {
 border-top-color: rgb(255, 219, 77);
 border-bottom-color: #FF9933;
 border-radius: 50%;
}

.border--rounded {
  border-radius: 50%;
}

.border--gray {   
  border-color: rgb(182, 182, 182);
}

.text-upper {
  text-transform: uppercase;
}

.text-primary {
  color: #FF9933;
}

.text-darker {
  color: rgba(0, 0, 0, 0.6);
}

.text-gray {   
  color: rgb(182, 182, 182);
}

.text-hover:hover {
  color: #FF9933;
}

.bg-darker {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
}

.btn-hover:hover {
  color: #fff;
  background-color: #FF9933;
  border-color: #FF9933;
}

.btn-transparent {
  border: none;
  background-color: transparent;
}

.btn--primary {
  background-color: #FF9933;
  color: #fff;
}

.btn--darker {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: #fff;
}

.img-hover:hover {
  opacity: .6;
}

.container {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pxy-1 {
  padding: 1rem;
}

.pxy-2 {
  padding: 2rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-grid {
  display: grid;
}

.gap-2 {
  gap: 2rem;
}

.column-gap-2 {
  column-gap: 2rem;
}

.justify-between {
  justify-content: space-between;
}

@media (min-width: 576px) {
  .container {
      max-width: 520px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .d-none-md {
    display: none;
  }

  .d-flex-md {
    display: flex;
  }

  .col-2, .col-4 {
    grid-template-columns: 1fr 1fr;
  }

  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 940px;
  }

  .col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

