.container {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 740px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

.align-center {
    text-align: center;
}

.title {   
    font-size: 2.2rem;
    padding: 1rem;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 2rem;
}

.border-left {
    border-left: 2px solid rgb(255, 219, 77);
}

.border-right {
    border-right: 2px solid rgb(255, 219, 77);
}

.border-bottom {
    border-bottom: 1px solid rgb(255, 219, 77);
}

.text-primary {
    color: rgb(255, 219, 77);
}

.text-white {
    color: #fff;
}

.bg-primary {
    background-color: rgb(255, 219, 77);
}

.bg-hover:hover {
    background-color: rgb(255, 219, 77);
}

.w-100 {
    width: 100%;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pxy-1 {
    padding: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.border-black {
    border: 2px solid #000;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

@media (min-width: 768px) {
    .col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.gap-2 {
    gap: 2rem;
}

.column-gap-2 {
    column-gap: 2rem;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
}

.btn--sm {
    padding: .5rem 1.5rem;
}

.btn--md {
    padding: 1rem 2.5rem;
}